<% content_for(:title, 'みんなの挑戦') %>
<div class='container'>
  <h3 class='my-5'>みんなの目標</h2>
  <div id='navtab_index'><%# ここは目標用のnavtabを作って条件を諸々変える。TODO %>
    <%= render 'public/targets/navtab', tab0: @tab0, tab1: @tab1, tab2: @tab2,  cat_id: @cat_id, filter_type: @filter_type %>
  </div>
  <div id='filtering_index'>
    <%= render 'public/targets/index', targets: @targets %>
  </div>
</div>
