ようこそ

トップ画面
<% if current_user %>
  <p>ユーザでログイン中</p>
<% end %>
<p><%= link_to 'ユーザログアウト', destroy_user_session_path, method: :delete %></p>
<% if current_admin %>
  <p>管理者でログイン中</p>
<% end %>
<p><%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %></p>