<div class='container'>
  <h2 class='my-4'>マイページ</h2>
  <div class='d-flex align-items-center'>
    <div class='col h3'>私の目標一覧</div>
    <div class='col-3'>
      <%= link_to '目標登録リンク', new_target_path, class:'btn btn-warning text-dark text-decoration-none' %>
    </div>
  </div>
  <%= render 'public/targets/index', targets: @targets %>
  <h3>取得した実績</h3>
  <%= link_to '実績を見る', unlock_lists_path %>
</div>
